

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Asap+Condensed&family=B612&family=Chakra+Petch:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Sen:wght@400;700;800&display=swap');
 *, 
*::before, 
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Aleo';
    --ff-secondary: 'Chakra Petch';

    --fw-reg: 300;
    --fw-bold:500;

    --clr-light: #FAF9F5;
    --clr-dark:#0D0D0D;
    --clr-accent1:#817B8C;
    --clr-accent2: #161840;
    --clr-accent3:#F2E2DF;
    --clr-accent4:#FAFAFA;
    --clr-accent5:#FAF8F4;
    --clr-accent6:#F6F2EC;



    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width:800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
        
    }
}


/*General Styles*/

body{
    background: var(--clr-light);
    color: var(--clr-accent2);
    transition: 0.3s;
    margin: 0; 
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100vw;
   
}



header{
 display: flex;
 align-items: center;
 margin-right: .5em;
}

footer{
    height: 25vh;
    background-color:var(--clr-accent3);
    justify-content: center;
    align-content: center;
}

.main{
    height:90vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  
}

.portSections{

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 4%;
  
}

@media (min-width:600px){
    .portSections{
        padding: 0%;}
}


h1, h2, h3{
    line-height: 1.1;
    margin: 0;
    font-weight: 400;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

h2, h3,  li{
    font-family: var(--ff-secondary);
}

p{
    font-family: var(--ff-primary);
}

p{
    font-weight: 200;
}

img{
    display: block;
    max-width: 100%;
} 

/*Menu*/

.menuWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1em;
    width: 100vw;
}

ul{
    display: flex;
 
  
    
}

li, a{
 text-decoration: none;
 list-style: none;
 color: black;
 margin-right: .25em;


}

li{text-transform: uppercase;}

a:hover{
    color: #817B8C;

}


/*dark-light mode switch */
.switch{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    position: relative;
   
}

.flicker{

width: 30px ;
height: 30px;
border-radius: 15px;
background-color:white;
position: absolute;
transition: 0.3s;
top: 5px;
left: 5px;
box-shadow: inset 4px 4px 4px rgb(255, 255,255),
            inset -4px -4px 4px rgb(195 193 198 / 90%);

}

.moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

/*.sun{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    background-color: gold;
    top: 10px;
    right: 55px;
    position: absolute;
   
}*/

/* dark mode class*/
.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.dark .projects{
    background-color:#383737;
    box-shadow: 2px 2px 4px rgb(7, 7, 7, 0.4),
    -2px -2px 4px rgb(255, 255,255, 0.4);

}

.dark a{
    color:white
}

.dark .flicker {
    transform:translateX(40px) ;
}

.dark > *{
    color:white;
}

/*Main Title with Typing Effect*/

.headerWrapper{
    display:block;
    width: 65vw;
    margin-left: 20%;
    margin-top: 10%;
    left: 50%;

}

.headerWrapper .typeHeader{
    
    border-right: .15em solid grey;
    font-family: 'Chakra Petch';
    font-size: 4rem;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4;
}

/*.typeHeader{
    animation:
        typing 5s steps(50, end), 
        cursor 1.2s step-end infinite;
    white-space: nowrap; /*content on next line
}*/


.headerWrapper .typeHeader:nth-child(1){
    width: 7.3em;
    animation: typing 2s steps(50, end);
    -webkit-animation: typing 2s steps(50, end);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.headerWrapper .typeHeader:nth-child(2){
    width: 15em;
    opacity: 1;
    animation: typing2 2s steps(50, end);
    animation-delay: 2.1s;
    -webkit-animation: 2.1s;
    animation-fill-mode: forwards;
    -webkit-animation: forwards;
}


.headerWrapper .typeHeader:nth-child(3){
    width: 15em;
    opacity: 0;
    animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    -webkit-animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    animation-delay: 4.3s;
    -webkit-animation-delay: 4.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}

@keyframes testAni{
    0%{width: 0;}

    1%{opacity: 1;}

    100%{opacity: 1;}
}

@keyframes typing{
 0%{ width: 0;}

 99.9%{ border-right: .15em solid grey;}

100% {border:none;}

}

@keyframes typing2{
    0%{ 
        width: 0;
    }
    1%{opacity: 1;}
    99.9%{ 
        border-right: .15em solid grey;
    }
   100% {
       opacity: 1;
       border:none;
    }
}




@keyframes typing3{
    0%{ width: 0;}

    1% {opacity: 1;}

    99.9%{ border-right: .15em solid grey;}
   
   100% {
       opacity: 1;
    }
   

}

@keyframes cursor{
    from,to {border-color: transparent;}
        50%{border-color: grey;}
    }

    @media screen and (max-device-width: 480px){
        .headerWrapper{
            width: 50%;
            margin-left: 10%;
            margin-top: 10%;
            left: 30%;
        }

        .headerWrapper .typeHeader{
            font-size: 1.5rem;
        }

        .main{
            height: 100%;
        }

      

    }


    /*floating socials*/



    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 2%;
      }
      
      .icon-bar a {
        display: block;
        text-align: left;
        padding: 16px;
        transition: all 0.3s ease;
        color: grey;
        font-size: 1.5rem;
        
      }
     

   
     /*Services*/

     #myServices{
       
        text-align: left;
     }


     #sectionServicesTitle{
        
         width: 50%vw;
     }

   

    .gridServices{

        display:flex; 
        flex-direction: column;
        padding: 2em;
        opacity: .8;
       
    }

    .gridServices itemWrapper{
        margin: 2em; 
     
    }

    .gridServices .svcIcon{
        font-size: 1rem;
        margin-right: 1em;
        color: var(--clr-accent2);
        float: left;
        
    }

    .service p{
        font-size: smaller;
      
    }

    .svcIcon{
        position: relative;
        top: 5%;
        margin-left: 5%;
     }
     
     .serIcon{
         font-size: 5em;

     }
     /*
    .svcIcon::after{
        content:" ";
        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: yellow;
    }*/

    @media (min-width:800px){

        .gridServices{
        flex-direction: row;
        justify-content: space-evenly;
        /*display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;*/
        width: 100vw;
      
       /* margin: 0 auto; */
        }
        .gridServices .itemWrapper{
           display: flex;
           flex-direction: column;
           
           width: 25%;
           margin: 2%;
           border-radius: 15px;
           box-shadow: 2px 2px 4px rgb(7, 7, 7, 0.3), 
           -4px -4px 6px rgb(250, 250, 250, 0.4);
           
          
    
        }
        
        .gridServices .svcIcon{
            font-size: 2rem;
            margin-right: 1em;
            color: var(--clr-accent2);
        }

        .service{
        margin: 1em;
        text-align: left;
        width: 80%;
        justify-content: center;
        }

        #myServices{
            height: 50vh;
        }

    }


     /* ToolBox*/
     #toolbox{
         display: flex;
         background-color: var(--clr-accent1);
         padding: 2em;
         align-items: center;
     }
  
    .toolboxGrid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        width: 80%;

    }
  

    .toolContainer{
        display: flex;
        padding: 1em;
        width: 100%;
        justify-content:left;
       
    }

     .languagesImg, .toolsImg, .designImg{
       height: 3em;
       padding: .25em;
     }

     .toolIcons{
        display: flex;
        flex-direction: row;
        align-content: left;
        flex-wrap: wrap;
        padding: 1em;
        font-weight: 200;
      
    }


     @media (min-width:800px){
        #toolbox{
            height: 50vh;
        }

         .toolboxGrid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
         }
 
         .toolContainer{
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            padding: 1em;
            margin: 1em;
            width: 100%;
            align-content: center;
            justify-content: center;
        }

        .toolIcons{
            margin: 1em;
        }

     }


  
    
  

    /*Projects Section*/

    #Projects{
        display:flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .projects{
        width: 15em;
        height: 15em;
        background-color: var(--clr-accent6);
        margin:1%;
        padding: 3%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgb(7, 7, 7, 0.4),
    -4px -4px 8px rgb(250, 250,250, 0.7);
    }

    #uberClone{
        background-image: url();
        background-size: cover;
    }


     /*Media Query Reponsive*/
   
@media only screen and (min-width:600px){

    #Projects{
        height: 100vh;
    }
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1%;
        width: 17em;
        height: 17em;
       
    }

   
}

  /*Contact Section*/

  #contactForm{
      height: 75vh;
      display: flex;
      justify-content: center;
      text-align: center;
  }

  /*Footer Section*/

  footer{
      display: flex;
      flex-direction: row;
      /*flex-wrap: wrap;*/
      justify-content: left;
      padding: 1em;
  }

  footer h3{
    font-weight: 200;
    font-size: .5rem;
  }

footer img{
    height: 1.5em;
}

.footerImgContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    font-size: .75em;
    
}

@media (min-width:800px){
    
    .footerImgContainer{
        margin: 2em;
        justify-content: space-between;

    }
    footer h3{
        font-weight: 200;
        font-size: 1rem;
      }

      footer img{
        height: 2em;
    }
}



/*About Section*/


 .About{
    align-content: center;
    height: 50vh;
   
 
}
 .dark .aboutSections{
    color: var(--clr-dark);
    border: .1em solid var(--clr-accent2);
   
}

.dark #present, .dark #previous{
    background-color: var(--clr-dark);
    color: var(--clr-accent5);

}

.dark #summary, .dark #ongoing{
    background-color: var(--clr-accent1);
    color: var(--clr-accent5);

}

.aboutSections{
    border: .1em solid var(--clr-accent4);
    box-shadow: 2px 2px 4px rgb(113, 109, 109, 0.5);
    padding: 1rem;
    border-radius: 15px;
}

.aboutGrid button{
    border-radius: 45px;
    width: 50%;
    height: 3rem;
    box-shadow: 2px 2px 4px rgb(113, 109, 109, 0.5);
    border: solid 1px var(--clr-accent4);
}

#summary, #ongoing{
    background-color: var(--clr-accent6);

}

#present, #previous{
    background-color: var(--clr-light);

}





@media (min-width:600px){

    .aboutGrid{
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
        
    }
    .aboutGrid h2{
        font-size: 1.25em;
    }

    .aboutSections{
        padding: 1rem;
      
    }

    #previous{
        display: flex;
    }

    .workHistoryWrapper{
        width: 40%;
        padding: 1em;
        
    }
    .workTextWrapper{

        flex-basis: 60%;
        padding: 1em;

    }
    .workHistoryTxt{
        width: 80%;
    }

    .aboutSections:last-child{
        grid-column-start:2; 
        grid-column-end: 5;
    }
    .aboutSections:nth-child(1){
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .aboutSections:nth-child(2){
        grid-column-start:2; 
        grid-column-end: 4;
    
    }

}