

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Asap+Condensed&family=B612&family=Chakra+Petch:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Sen:wght@400;700;800&display=swap');
 *, 
*::before, 
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Poppins';
    --ff-secondary: 'Chakra Petch';

    --fw-reg: 300;
    --fw-bold:500;

    --clr-light: #fff;
    --clr-dark:#0D0D0D;
    --clr-accent1:#817B8C;
    --clr-accent2: #161840;
    --clr-accent3:#F2E2DF;


    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width:800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
        
    }
}


/*General Styles*/

body{
    background: var(--clr-light);
    color: var(--clr-accent2);
    transition: 0.3s;
    margin: 0; 
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100vw;
}



header{
 display: flex;
 justify-content: space-between;
 padding: 30px; 
 align-items: center;
}

footer{
    height: 150px;
    background-color: #F2E2DF;
    justify-content: center;
    align-content: center;
}

.main{
    height:80vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  
}

.portSections{

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;


}



h1, h2, h3{
    line-height: 1.1;
    margin: 0;
    font-weight: 400;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

p, h2, h3,  li{
    font-family: var(--ff-primary);
}

p{
    font-weight: 200;
}

img{
    display: block;
    max-width: 100%;
} 

/*Menu*/



ul {
    display: flex;
}

li, a{
 text-decoration: none;

 list-style: none;
 width: 100px;
 color: black
 
}

a:hover{
    color: #817B8C;

}


/*dark-light mode switch */
.switch{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    position: relative;
   
}

.flicker{

width: 30px ;
height: 30px;
border-radius: 15px;
background-color:white;
position: absolute;
transition: 0.3s;
top: 5px;
left: 5px;
box-shadow: inset 4px 4px 4px rgb(255, 255,255),
            inset -4px -4px 4px rgb(195 193 198 / 90%);

}

.moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

/*.sun{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    background-color: gold;
    top: 10px;
    right: 55px;
    position: absolute;
   
}*/

/* dark mode class*/
.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.dark .projects{
    background-color:#383737;
    box-shadow: 2px 2px 4px rgb(7, 7, 7);

}

.dark a{
    color:white
}

.dark .flicker {
    transform:translateX(40px) ;
}

.dark > *{
    color:white;
}

/*Main Title with Typing Effect*/

.headerWrapper{
    display:block;
    width: 65vw;
    margin-left: 20%;
    margin-top: 10%;
    left: 50%;

}

.headerWrapper .typeHeader{
    
    border-right: .15em solid grey;
    font-family: 'Chakra Petch';
    font-size: 4rem;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4;
}

/*.typeHeader{
    animation:
        typing 5s steps(50, end), 
        cursor 1.2s step-end infinite;
    white-space: nowrap; /*content on next line
}*/


.headerWrapper .typeHeader:nth-child(1){
    width: 7.3em;
    animation: typing 2s steps(50, end);
    -webkit-animation: typing 2s steps(50, end);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.headerWrapper .typeHeader:nth-child(2){
    width: 15em;
    opacity: 1;
    animation: typing2 2s steps(50, end);
    animation-delay: 2.1s;
    -webkit-animation: 2.1s;
    animation-fill-mode: forwards;
    -webkit-animation: forwards;
}


.headerWrapper .typeHeader:nth-child(3){
    width: 15em;
    opacity: 0;
    animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    -webkit-animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    animation-delay: 4.3s;
    -webkit-animation-delay: 4.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}

@keyframes testAni{
    0%{width: 0;}

    1%{opacity: 1;}

    100%{opacity: 1;}
}

@keyframes typing{
 0%{ width: 0;}

 99.9%{ border-right: .15em solid grey;}

100% {border:none;}

}

@keyframes typing2{
    0%{ 
        width: 0;
    }
    1%{opacity: 1;}
    99.9%{ 
        border-right: .15em solid grey;
    }
   100% {
       opacity: 1;
       border:none;
    }
}




@keyframes typing3{
    0%{ width: 0;}

    1% {opacity: 1;}

    99.9%{ border-right: .15em solid grey;}
   
   100% {
       opacity: 1;
    }
   

}

@keyframes cursor{
    from,to {border-color: transparent;}
        50%{border-color: grey;}
    }

    @media screen and (max-device-width: 480px){
        .headerWrapper{
            width: 50%;
            margin-left: 10%;
            margin-top: 10%;
            left: 30%;
        }

        .headerWrapper .typeHeader{
            font-size: 2rem;
        }

    }


    /*floating socials*/



    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 2%;
      }
      
      .icon-bar a {
        display: block;
        text-align: left;
        padding: 16px;
        transition: all 0.3s ease;
        color: grey;
        font-size: 1.5rem;
        
      }
     

    /*About Section*/

    .About{
        align-content: center;
        height: 50vh;
     
    }

  

     /*Services*/

     #myServices{
        color: var(--clr-accent2);
        text-align: center;
     }


     #sectionServicesTitle{
         color: var(--clr-accent2);
         width: 50%vw;
     }

     /*#sectionServicesTitle::before{
         content: '';
         display: block;
         width: 2em; 
         height: 2px;
         margin: 0.5em auto 1em;
         background-color: var(--clr-dark);
         
    }*/

    .gridServices{

        display:flex; 
        flex-direction: column;
        /*grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.3em;*/
        padding: 2em;
        opacity: .8;
        width: 100vw;
        height: 50vh;


    }

    .gridServices itemWrapper{
        margin: 2em; 
        background-color: var(--clr-accent3);
    }

    .gridServices .svcIcon{
        font-size: 2rem;
        margin-right: 1em;
        color: var(--clr-accent2);
        float: left;
        
    }

    .service p{
        font-size: smaller;
      
    }

    .svcIcon{
        position: relative;
        top: 5%;
     }
     
     .serIcon{
         font-size: 5em;

     }
     /*
    .svcIcon::after{
        content:" ";
        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: yellow;
    }*/

    @media (min-width:800px){

        .gridServices{
        flex-direction: row;
        justify-content: space-evenly;
        /*display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;*/
        width: 100vw;
        background-color: var(--clr-accent1);
       /* margin: 0 auto; */
        }
        .gridServices .itemWrapper{
           display: flex;
           flex-direction: column;
           background-color: var(--clr-accent1);
           width: 25%;
           margin: 2%;
           border-radius: 15px;
           box-shadow: 2px 2px 4px rgb(7, 7, 7, 0.3);
           
          
    
        }
        
        .gridServices .svcIcon{
            font-size: 2rem;
            margin-right: 1em;
            color: var(--clr-accent2);
        }

        .service{
        margin: 1em;
        text-align: left;
        width: 80%;
        }

    }


     /* ToolBox*/
     #toolbox{
         background-color: var(--clr-accent1);
      
         padding: 2em;
     }
     .techstack{
       background-color:var(--clr-accent1);
       width: 100vw;
       height: 60%;
       text-align: center;
       padding: 30px;
    }
    .toolboxGrid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


    }
    .toolIcons{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
      
    }

    .toolContainer{
        padding: 1em;
    }

     .languagesImg, .toolsImg, .designImg{
       height: 2em;
       padding: .25em;
     }


     @media (min-width:800px){
         .toolboxGrid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
         }
     }


    @media (min-width:800px){
        .About{
            display: flex;

            max-width: 1000px;
            align-content: center;
        }

        .aboutMeBody{
            max-width: 75%;
        }

    }
  

    /*Projects Section*/

    .projects{
        width: 48%;
        height: 48%;
        background-color: var(--clr-accent1);
        margin:1%;
        padding: 3%;
        text-align: center;
    }

    #uberClone{
        background-image: url();
        background-size: cover;
    }

    .projectsSection{
        display: flex;
        flex-wrap: wrap;
    }

     /*Media Query Reponsive*/
   
@media only screen and (min-width:970px){
    .projects {
        width: 15em;
        margin: 1%;
        height: 15em;

    }

   
}

  /*Footer Section*/

  footer{
      display: flex;
      flex-direction: row;
      padding: 1em;
  }

  footer h3{
    font-weight: 200;
    font-size: 1rem;
}

footer img{
    height: 2em;
}

@media (min-width:800px){
    
    footer{

    }

    .footerImgContainer{
        margin: 2em;
    }
}