
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Sen:wght@400;700;800&display=swap');

*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Sen';
    --ff-secondary: 'Chakra Petch';
}

body{
    transition: 0.3s;
    margin: 0; 
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

header{
 display: flex;
 justify-content: flex-end;
 padding: 30px; 
 align-items: center;
}

footer{
    height: 150px;
    background-color: #F2E2DF;
    justify-content: center;
    align-content: center;
}

p, h2, li{
    font-family: 'Sen';
}


.main{
    height:80vh; 
  
}

 
/*Menu*/

.headerWrapper{
   display: block;
  
    
}

ul {
    display: flex;
}

li, a{
 text-decoration: none;
 font-size: 1rem;
 list-style: none;
 width: 100px;
 color: black
 
}

a:hover{
    color: #817B8C;

}


/*dark-light mode switch */
.switch{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    position: relative;
   
}

.flicker{

width: 30px ;
height: 30px;
border-radius: 15px;
background-color:white;
position: absolute;
transition: 0.3s;
top: 5px;
left: 5px;
box-shadow: inset 4px 4px 4px rgb(255, 255,255),
            inset -4px -4px 4px rgb(195 193 198 / 90%);

}

.moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

/*.sun{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    background-color: gold;
    top: 10px;
    right: 55px;
    position: absolute;
   
}*/

/* dark mode class*/
.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.dark .projects{
    background-color:#383737;
    box-shadow: 2px 2px 4px rgb(7, 7, 7);

}

.dark a{
    color:white
}

.dark .flicker {
    transform:translateX(40px) ;
}

.dark > *{
    color:white;
}

/*Main Title with Typing Effect*/

.headerWrapper{
    width: 65vw;
    margin-left: 20%;
    margin-top: 10%;
    left: 50%;
    line-height: 1;
}

.headerWrapper .typeHeader{
    
    border-right: .15em solid grey;
    font-family: 'Chakra Petch';
    font-size: 4rem;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}

/*.typeHeader{
    animation:
        typing 5s steps(50, end), 
        cursor 1.2s step-end infinite;
    white-space: nowrap; /*content on next line
}*/


.headerWrapper .typeHeader:nth-child(1){
    width: 7.3em;
    animation: typing 2s steps(50, end);
    -webkit-animation: typing 2s steps(50, end);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.headerWrapper .typeHeader:nth-child(2){
    width: 15em;
    opacity: 0;
    animation: typing2 2s steps(50, end);
    -webkit-animation: typing2 2s steps(50, end);
    animation-delay: 2.1s;
    -webkit-animation: 2.1s;
    animation-fill-mode: forwards;
    -webkit-animation: forwards;
}

.headerWrapper .typeHeader:nth-child(3){
    width: 15em;
    opacity: 0;
    animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    -webkit-animation: typing3 2s steps(40, end), 
    blink .5s step-end infinite alternate;
    animation-delay: 4.3s;
    -webkit-animation-delay: 4.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}

@keyframes typing{
 0%{ width: 0;}

 99.9%{ border-right: .15em solid grey;}

100% {border:none;}

}

@keyframes typing2{
    0%{ 
        width: 0;
    }
    1%{
        opacity: 1;
    }
    99.9%{ 
        border-right: .15em solid grey;
    }
   100% {
       opacity: 1;
       border:none;
    }
}

@keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }


@keyframes typing3{
    0%{ width: 0;}

    1% {opacity: 1;}

    99.9%{ border-right: .15em solid grey;}
   
   100% {
       opacity: 1;
    }
   

}

@keyframes cursor{
    from,to {border-color: transparent;}
        50%{border-color: grey;}
    }

    /*floating socials*/



    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 3%;
      }
      
      .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: grey;
        font-size: 20px;
        
      }
     

    /*About Section*/

    .About{
        align-content: center;
        height: 50vh;
    }

    .techstack{
        display:block;
        background-color:aliceblue;
        width: 80vw;
        height: 30%;
        text-align: center;
        padding: 30px;
         margin: 5%;

    }

     .techstack a{
         color:black;
         font-size: 2rem;
         padding: 30px;
         margin: 5%;
     }

    /*Projects Section*/

    .projects{
        width: 98%;
        height: 350px;
        background-color: aliceblue;
        margin:1%;
        padding: 3%;
        text-align: center;
    }

    .projectsSection{
        display: flex;
        flex-wrap: wrap;
    }

   
@media only screen and (min-width:970px){
    .projects {
        width: 48%;
        margin: 1%;
        height: 600px;

    }
}